
.day-button {
    min-width: 190px;
    max-width: 250px;
    padding: 18px 25px;
    background-color: #ddd; /* Šedé pozadí tlačítek */
    color: #000000; /* Tmavší text */
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    text-transform: uppercase; /* Text velkými písmeny */
    display: flex;
    justify-content: center; /* Vycentrování textu */
    align-items: center; /* Vertikální zarovnání textu */

}
.day-button:hover {
    background-color: #bbb; /* Ztmavení pozadí při hoveru */
    transform: scale(1.02); /* Mírné zvětšení tlačítka při hoveru */
}
.day-button:active {
    transform: scale(0.98); /* Mírné stlačení po kliknutí */
}
.day-button.active {
    background-color: #007bff; /* Modrá barva pro aktivní tlačítko */
    color: #fff;
    box-shadow: 0 3px 10px rgba(0, 123, 255, 0.3);
}

.day-buttons-container {
    display: flex;
    flex-direction: column; /* Tlačítka pod sebou */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px; /* Horizontální padding pro kontejner */
    width: 100%; /* Šířka kontejneru */
    max-width: 400px; /* Maximální šířka pro mobilní rozhraní */
    gap: 15px; /* Mezera mezi tlačítky */
  justify-content: center;
  margin-left: auto;
  margin-right: auto; /* Vycentrování kontejneru */
  margin-top: 30px;
}


