.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    /* Bílé pozadí hlavičky */
    border-bottom: 1px solid #eee;
    /* Jemná linka pod hlavičkou */
}


.navigation-button {
    width: 40px;
    /* Šířka tlačítka */
    height: 40px;
    border: #fff;
    background-color: #fff;
}

.back-arrow {
    width: 100%
}

.home-icon {
    width: 100%
}
