.page-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.page-title {
    display: flex;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    text-align: center;
    flex-grow: 1;
    /* Aby zabralo co nejvíce místa a vycentrovalo se */
}
