.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vycentrování obsahu */
    justify-content: center; /* Vertikální vycentrování */
    height: 100vh; /* Výška kontejneru na celou výšku viewportu */
}
.city-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    position: center;
    text-align: center;
}
