.den-title {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    position: center;
    text-align: center;
    background-color: #ddd;
    text-transform: uppercase;
}

