.item {
  position: absolute;
  width: 320px;
  height: 200px;
  text-align: justify;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 160px);
  top: 0;

}

.slide-name {
font-family: "Jost", sans-serif;
font-weight: large;
 font-size: 20px;
 font-weight: 500;
 text-align: center;
 text-transform: uppercase;
 color: rgb(10, 10, 10);
 position: center;
 background-color: rgba(255, 255, 255, 0.5)
}
.polopruhledne-pozadi {
    background-color: rgba(255, 255, 255, 0.5);
}
