.item {
  position: absolute;
  width: 320px;
  height: 200px;
  text-align: justify;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 160px);
  top: 0;

}

.slide-name {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  position: absolute;
  top: 50px;
  left: -10px;
}
