.city-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.city-name {
    display: flex;
    font-size: 1em;
    font-weight: lighter;
    color: #333;
    margin-bottom: 15px;
    position: center;
    text-align: center;
}
